<div class="containter p-4">
    Mostrando pagos correspondientes a: {{user.nombre}}
    <div class="row">
        {{#each pagos}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href=""> 
                            <h3 class="card-title text-uppercase"> 
                               ${{total}}
                            </h3>
                        </a>
                        <p>Item:  {{item}}  </p>
                        <p> Valor Neto: {{neto}}  </p>
                            <p> {{proyecto}}  </p>
                        <a hidden href="/pagos/delete/{{id}}" class=" btn btn-danger"> Eliminar </a>
                        <a hidden href="/pagos/edit/{{id}}" class=" btn btn-secondary"> Editar </a>
                        <a href="/pagos/show/{{id}}" class=" btn btn-info" > Ver Detalle <i class="far fa-eye" style="color:white"></i></a>
                    </div>
                </div><br>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No tienes pagos</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>